/* img de fundo */
body {
    /* background-image: url("../pasta.img/fundo2canva.jpeg"); */
    background-color: #322f36;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

.quadrado {
    top: 0em;
    border: solid #1b1914;
    height: 7em;
    background: #1b1914;
    width: 6em;
    position: absolute;
}

.quadrado2 {
    top: 3em;
    left: 2em;
    
    border: solid #1b1914;
    height: 4em;
    background: #1b1914;
    width: 4em;
    position: absolute;
    animation: animarespo 14s ease-in-out infinite;
    /* animation: box-nimate 14s  ease-in-out infinite ; */

}
.position{
    position: absolute;
     right:4em;
   top:6em;
   display: flex;
   align-items:center;
   flex-direction: column;
   z-index: 5;
   cursor: pointer;
  
   
}
.divContato{
    
   
   border: solid transparent;
 
   padding: 0.2em 0.5em;
   border-radius: 20px;
   position: fixed;
   box-shadow:rgb(205, 23, 199) 0px 0px 10px;
   
   

}
.divContato h1{
    color:   rgb(178, 160, 176);
position: relative;
font-size: 20px;
    
}
.listaContato.visible{
    visibility: visible;
}
.listaContato{
  visibility: hidden;
  position: fixed;
    margin: 2em auto;
}
.listaContato img{
      height: 3em;
      font-size: 18px;
      width: 3em;
      
      border-radius: 100%;
      margin: 0.5em auto;
      
      box-shadow: rgb(120, 42, 111) 0px 0px 10px;

}
.listaContato.visible .img1{
    animation: contatos 1s ease-in-out;
    
 
}
.listaContato.visible .img2{
    animation: contatos 1.5s ease-in-out;
    
    
}
.listaContato.visible .img3{
    animation: contatos 2s ease-in-out;
    
   
}
.listaContato.visible .img4{
    animation: contatos 3s ease-in-out;

   
}


.primeiroBlocoHeader {
    display: grid;
    grid-column: auto;
}

.divName {
    color: #f0f0f0;
    position: relative;
    top: 9em;

    text-align: center;

}

.minhaApresentacao::before {
    content: "👋";


    text-align: center;
}

.testImg {
    border-radius: 100%;
    height: 15em;
    width: 15em;
    text-align: center;
    margin: 0 auto;
    top: 13em;
    position: relative;

}

.divName h1 {
    font-size: 54px;
    font-family: 'Jost';
    animation: textAnime 4s linear infinite;

}

.divName h2 {
    font-family: 'Jost';
    position: relative;
    color: rgb(178, 160, 176);
    top: 2em;
    font-size: 17px;
    font-weight: bold;
}




.scrollDiv {
    position: relative;
    color: #f0f0f0;
    top: 16em;
    text-align: center;

}

.scrollDiv p2 {
    top: 0px;
    font-size: 34px;
    position: relative;
    font-family: 'Jost';
    animation: setaScroll 4s linear infinite;
}

.scrollDiv div {
    border-left: solid;
    border-top: solid;
    height: 5em;
    width: 5em;
    position: relative;
    margin: 0 auto;
    transform: rotate(-135deg);
    border-radius: 10px;
    animation: setaScroll 4s linear infinite;

}


main {
    background: #322f36;
    height: 120vw;


}

.segundoBloco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bolinhas {
    height: 12em;
    width: 14em;
    position: relative;

    top: 24em;
    text-align: center;
    margin: 0 auto;
    left: -8em;

}

.border {
    border-top: solid rgb(205, 23, 199);
    border-left: solid rgb(112, 37, 103);
    height: 10em;
    width: 10em;
    position: relative;

    top: 25em;
    margin: 0 auto;

}


.imgPerfil2 {

    height: 14em;
    width: 13em;
    position: relative;
    top: 15.5em;
    border-radius: 5px;
    margin: 0 auto;
    left: 2em;
}

.divSobreMim {
    top: 21em;
    position: relative;

    width: 18em;
    text-align: center;
    color: #f0f0f0;
    margin: 0 auto;
    font-family: 'Jost';


}

.sobreMimTitle {
    font-family: 'Jost';
    color:  rgb(178, 160, 176);
    position: relative;
    font-size: 15px;
    top: -1.9em;

    font-weight: bold;

}

.curriculo {
    position: relative;
    top: 1.5em;

    border: solid transparent;
    padding: 4px 1em;
    border-radius: 36px;
    background: rgb(112, 37, 103);
    color:  rgb(178, 160, 176);
    font-weight: bold;
    width: 9em;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.25s;
}
.curriculo:hover{
    padding: 8px 2em;
    transition: 0.25s;
    background: rgb(178, 160, 176);
    color: rgb(112, 37, 103) ;
}

body {

    height: 700vw;
    position: relative;
    top: -48px;
    background-color: #322f36;
    ;
    background-repeat: no-repeat;
    background-size: cover;


}

.bloco3 {
    display: grid;
    grid-column: auto;
}

.bolinhas2 {

    width: 8em;
    position: relative;

    top: 24em;
    margin: 0 auto;
}

.Ferramentas {
    position: relative;

    top: 25em;
    color:  rgb(178, 160, 176);
    text-align: center;
    text-decoration: underline;

}

.htmlFerramenta {
    height: 11.5em;
    width: 15em;
    position: relative;
    top: 28em;
    margin: 0 auto;
    border-radius: 6px;
    background: #1f1e22;
    border-bottom: solid;
    border-bottom-width: 10px;
    border-bottom-color: #e44d26;


}

.htmlFerramenta:hover {
    background-color: #f0f0f0;
    border-bottom-color: #000;
    transition: 1ms;
    cursor: pointer;

}

.htmlFerramenta img {
    position: relative;
    height: 7em;
    margin: 0 35% 0 34%;

}

.htmlFerramenta h1 {
    position: relative;
    margin: 0px 77px;
    font-size: 30px;
    color: #e44d26;

}

.CSSFerramenta {
    height: 11.5em;
    width: 15em;
    position: relative;
    top: 30em;
    margin: 0 auto;
    border-radius: 6px;
    background: #1f1e22;
    border-bottom: solid;
    border-bottom-width: 10px;
    border-bottom-color: #3799d8;


}

.CSSFerramenta:hover {
    background-color: #f0f0f0;
    border-bottom-color: #000;
    transition: 1ms;
    cursor: pointer;

}

.CSSFerramenta img {
    position: relative;
    height: 4.7em;
    margin: 0 34% 0 35%;
    top: 1em;
}

.CSSFerramenta h1 {
    position: relative;
    margin: 0px 92px;
    font-size: 30px;
    color: #3799d8;
    top: 1em;
}

.jSFerramenta {
    height: 11.5em;
    width: 15em;
    position: relative;
    top: 33em;
    margin: 0 auto;
    border-radius: 6px;
    background: #1f1e22;
    border-bottom: solid;
    border-bottom-width: 10px;
    border-bottom-color: #f9df4f;


}

.jSFerramenta:hover {
    background-color: #f0f0f0;
    border-bottom-color: #000;
    transition: 1ms;
    cursor: pointer;

}

.jSFerramenta img {
    position: relative;
    height: 4.7em;
    margin: 0 34% 0 35%;
    top: 1em;
}

.jSFerramenta h1 {
    position: relative;
    margin: 0px 44px;
    font-size: 30px;
    color: #f9de4f;
    top: 1em;
}

.bloco4 {
    display: flex;
    flex-direction: column;

}

.Project {
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    top: 42em;
    color: rgb(198, 59, 181);

}

.projetos {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    top: 45em;
}

.sPTrunfo {
    border: solid;
    background: #1b1914;
    height: 17em;
    width: 12em;


    margin: 2em auto;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    transition: 1s;

}

ul::before {
    text-decoration-line: none;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    list-style-type: style none;
    ;
}

.paragrafo {
    color: #05f705;
    position: relative;
    top: 10px;
    text-align: center;
    /* left: 19px; */
    font-family: 'Jost';
    font-size: 20px;
}




.img {

    position: absolute;
    height: 17em;
    width: 12em;
    top: 0em;
    left: 0em;
    z-index: 4;
    border-radius: 5px;

}

.sPTrunfo img:hover {
    
    opacity: 0;
}


